$btn-blue-static-bg: #1C69D4;
$btn-blue-hover-bg: #0351BE;
$btn-black-static-bg: #000000;
$btn-black-hover-bg: #575757;
$btn-green-static-bg: #25D366;
$btn-green-hover-bg: #35AA61;

$text-primary-color: #262626;
$text-sumary-color: #666666;
